.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.login-popup-container {
  width: min(90vw, 400px);
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.login-popup-title i {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.login-popup-inputs { 
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px 0 20px 0;
}

.login-popup-inputs input {
  background-color: #333;
  color: #999;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 0px;
  outline: none;
  font-size: 12px;
  margin-bottom: 10px;
  transition: border 0.3s ease;
}

.input-field {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s ease forwards;
}

.input-field.filled {
  border: 2px solid #0095f6;
}

.input-field.error {
  border: 2px solid #ff0000; /* Borde rojo para correo inválido */
}

.email-error {
  color: #ff0000;
  font-size: 11px;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-popup-inputs input::placeholder {
  color: #999;
}

.forgot-password {
  color: #00376b;
  text-align: right;
  text-decoration: none;
  font-size: 12px;
  margin-top: -5px;
  margin: 5px 0 0 0;
}

.login-button {
  background-color: #0095f6;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 0 20px 0;
}

.login-button:hover {
  background-color: #007bb5;
}

.login-popup-condition {
  color: #808080;
  font-size: 13px;
  margin-top: 20px;
  width: 80%;
}

.signup-prompt {
  color: #808080;
  font-size: 13px;
}

.signup-prompt span {
  color: #0095f6;
  cursor: pointer;
}

@media (max-width: 400px) {
  .login-popup-container {
    width: 100%;
    border-radius: 0;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 20px;
  }
}