.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-popup-container {
  width: min(90vw, 600px);
  height: min(90vh, 700px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  border-radius: 8px;
  font-size: 14px;
  margin: auto;
  overflow-y: auto;
  animation: fadeIn 0.5s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title i {
  cursor: pointer;
  font-size: 16px;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #BA0505;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-popup-container button:hover {
  background-color: #a00404;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup p span {
  color: #BA0505;
  font-weight: 500;
  cursor: pointer;
}

body.login-popup-open {
  overflow: hidden;
}

.login-popup-inputs select {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  color: #808080;
  font-size: 14px;
  cursor: pointer;
}

.login-popup-inputs select:focus {
  border-color: #BA0505;
}

.login-popup-inputs select option {
  padding: 10px;
}

/* LoginPopUp.css - Mejorar media query */
@media (max-width: 400px) {
  .login-popup-container {
    width: 100%;
    border-radius: 0;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 30px;
  }
  
  .login-popup-inputs input {
    font-size: 16px; /* Mejor legibilidad en móviles */
  }
}